@import "bootstrap";
@import "bootstrap-responsive";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
    font-size: 2.5em;
    letter-spacing: -2px;
    margin-bottom: 15px;
    text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */
/*
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
*/


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.action-links{
  padding-left: 3px;
  padding-right: 3px;
}

.content-tab {
  background-color: #E6EEEE;
  border: 1px solid #DDDDDD;
  padding: 5px 5px 5px 5px;
  border-radius: 6px 6px 6px 6px;
  color: inherit;
  line-height: 30px;
}

/*tabs*/
.nav-tabs{
  background-color: #1B1B1B;
  padding: 5px 5px 0px 5px;
  border-radius: 6px 6px 6px 6px;
}
